:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --primary-black-color: #2F303A;
    
}

body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);

    font-family: Roboto, sans-serif;
}
ul {
    list-style: none;
}
.title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 3%;
}
/* logo */

.logo {
    color: var(--accent-color);
    font-family: Raleway;
    text-decoration: none;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 3%;
}
.logo-studio {
    color: #000000;
    font-family: Raleway;
    text-decoration: none;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 3%;
}
.link-logo {
    text-decoration: none;
}
/* heder */
.link {
    color: var(--title-text-color);
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 2%;
}
.link.email,
.link.tel {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 2%;
    text-decoration: none;
}

.link:hover {
    color: var(--accent-color);
}

.link:focus {
    color: var(--accent-color);
}
.link.current {
    color: var(--accent-color);
}

/* hero */

.hero {
    background-color: var(--primary-black-color);
}

.hero-title {
    color: var(--primary-white-color);
    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 6%;
}
.primary-button {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 6%;
}

/* exellence */

.execellence-title {
    color: var(--title-text-color);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 3%;
}
.execellence.text {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 3%;
}

/* team */

.team {
    background-color: #F5F4FA;
}
.teamcard {
    background-color: var(--primary-white-color);
}
.team-title {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 3%;
}
.team.text {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 3%;
}


/* footer */

footer {
   background-color: var(--primary-black-color);
}
footer .logo-studio {
    color: var(--primary-white-color);
}
.address {
    font-style: inherit;            
}

.address-item {
    text-decoration: none;
    color:#FFFFFF;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 3%;
    
}
.item {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 3%;
}

.address.link:hover,
.address.link:focus {
    color: var(--accent-color);
}

/* Портфоліо */

.portfolio-title {
    color: var(--title-text-color);
}
/* Фільтри */

.filter-button {
    background-color: #F5F4FA;
    color: var(--title-text-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 3%;
}
.filter-button:hover,
.filter-button:focus {
    background-color: var(--accent-color);
}
.filter-button.current {
    background-color: #2196F3;
    color: #FFFFFF;
}
/* Project */

.project-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 6%;
}
.project.text {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 3%;
}







